# Serpent OS uses utf-8 exclusively for source code
[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true
tab_width = 8

[*.d]
dfmt_align_switch_statements = true
dfmt_brace_style = allman
dfmt_outdent_attributes = true
dfmt_outdent_labels = true
dfmt_soft_max_line_length = 80
dfmt_space_after_cast = true
dfmt_space_after_keywords = true
dfmt_split_operator_at_line_end = false
end_of_line = lf
indent_size = 4
indent_style = space
insert_final_newline = true
max_line_length = 120
tab_width = 8

[*.sh]
indent_size = 4
indent_style = space
tab_width = 4

[makefile]
indent_size = 4
indent_style = tab
tab_width = 4

# TODO: C?

# TODO: JSON?

# TODO: Markdown?

# TODO: YAML?
